<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
    <!--
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>基本信息</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>姓名：</string>
			<key>Key</key>
			<string>username</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>密码：</string>
			<key>Key</key>
			<string>password</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>性别：</string>
			<key>Key</key>
			<string>gender</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>男</string>
				<string>女</string>
			</array>
			<key>Values</key>
			<array>
				<string>男</string>
				<string>女</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>喜好</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>喜欢的颜色：</string>
			<key>Key</key>
			<string>favouritecolor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>红</string>
				<string>绿</string>
				<string>蓝</string>
				<string>黄</string>
				<string>白</string>
				<string>紫</string>
			</array>
			<key>Values</key>
			<array>
				<string>红</string>
				<string>绿</string>
				<string>蓝</string>
				<string>黄</string>
				<string>白</string>
				<string>紫</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>喜欢的季节：</string>
			<key>Key</key>
			<string>favouriteseason</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>春</string>
				<string>夏</string>
				<string>秋</string>
				<string>冬</string>
			</array>
			<key>Values</key>
			<array>
				<string>春</string>
				<string>夏</string>
				<string>秋</string>
				<string>冬</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>喜欢的运动：</string>
			<key>Key</key>
			<string>favouritesport</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
     -->
</dict>
</plist>
